h3{
  margin-left: 20px;
}

.addLyric{
  margin-left: 20px;
  width: 100%;
}

.lyricsInput {
  min-width: 275px;
  width: 100%;
  height: 110px;
}

.addTitle{
  margin-left: 20px;
  width: 80%;
}

.songTitle{
  min-width: 275px;
  width: 100%;
}

.example-button-row{
  margin-left: 20px;
}

a:hover {
  /* color: #ffee10; */
  /* box-shadow: 0 0 5px #395ca4; */
  text-shadow: 0 0 5px #395ca4;
}

.autocomplete-form {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
  margin-left: 20px;
}

.table-body{
  position: relative;
}

.length{
  position: absolute;
  bottom: 10%;
  left: 0;
  font-size: small;
}
