<h3>Add a Quote 👍</h3>
<table>
  <col style="width:10%">
  <col style="width:5%">
  <thead>
  </thead>
  <tbody >
  <tr>
    <td>
      <form>
        <mat-form-field class="addLyric">
          <mat-label>Lyrics</mat-label>
          <textarea class= "lyricsInput" (input)= "onKeypressLyric()" matInput type="text" 
            placeholder= "Ex. It makes me feel..." floatlabel= "false"
            [(ngModel)]= "lyrics" name = "lyricshere" maxlength="250">
          </textarea>
          <mat-hint>{{250 - lyrics.length}}</mat-hint>
        </mat-form-field>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br/>

<form>
  <mat-form-field class= "addTitle">
    <mat-label>Songtitle</mat-label>
    <textarea class = "songTitle" [ngModelOptions]="{standalone: true}" (input) = "onKeypressTitle()" matInput type= "text"
    [(ngModel)]="songTitle"></textarea>
</mat-form-field>
</form>

<table class="autocomplete-form">
  <col style="width:2%">
  <col style="width:10%">
  <thead>
  </thead>
  <tbody>
  <tr>
    <td>
      <mat-form-field>
        <input #input matInput name="inputted" placeholder="Performer" class="input" type="text" 
          (input) = "onKeypressEvent()"
          [(ngModel)]="performer" [formControl]="makeFilter" [matAutocomplete]="auto"
        /> 
        <mat-autocomplete #mySelect placeholder = "Performer" class="auto" autoActiveFirstOption
          #auto="matAutocomplete" (panelOpen)="panelOpen" >
          <mat-option (onSelectionChange)="onSelection(perf)"
            *ngFor="let perf of performers | async" [value]="perf.name">
            <span>{{ perf.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
    </td>
    <td>
      <a [hidden] = "addPHidden" (click) = "onAddPerformer()" id="addPerformer">(Add performer)</a>
    </td>
  </tr>
  </tbody>
</table>
<br/>

<div class="example-button-row">
  <button mat-raised-button [disabled] ="disableButton" color= "accent"
    (click)= "onAddLyrics(lyrics, songTitle)">Save lyric</button>
</div>




