<h1>Performer Search</h1>

<div>
  <label>Filters
  </label>
</div>

<form class="autocomplete-form">
  <mat-form-field>
    <mat-label></mat-label>
    <input class="inputs" matInput type="text"
     [formControl]="makeFilter" [matAutocomplete]="auto"/>
    <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete" >
      <mat-option *ngFor="let perf of performers | async" [value]="perf.name">
          {{ perf.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
