h3{
  text-align: center;
}

.filters{
  margin-left: 0px;
}

.lyrics-container{
  width: 100%;
  height: 100%;
  /* outline: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lyric-card-top {
  font-size: 1.25em;
  font-weight: 100;
  /* color:rgb(240, 200, 200); */
  color: transparent;
  text-shadow: 0 0 13px #000;
  margin: 0 auto;
  /* margin-bottom: 5%; */
  text-align: center;
}

.blurred{
  color: red;
  text-shadow: 0 0 13px #000;
}

.not-blurred{
  color:blueviolet;
}

.p{
  /* font-weight: bold; */
  color:rgb(250, 248, 248);
  color: transparent;
  text-shadow: 0;
  margin: 0 auto;
  /* margin-bottom: 5%; */
  text-align: center;
}

.lyrics{
  color:rgb(39, 7, 81);
  font-size: 1.35em;
  font-weight: bolder;
  width: 88%;
  margin: 0 auto;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

.refresh-container{
  margin-top: 30px;
  text-align: center;
}

.refresh-icon{
  color:red;
}

