<app-filter></app-filter>
<div mat-dialog-content class="lyrics-container"   
    [ngStyle]="{'background-color' :random_color}">
  <mat-card>
    <div class="lyric-card-top" >
      <!-- ARTIST and TITLE -->
      <p #ps id="perf" class="perfTitle" 
        [ngStyle]="{'color' :statusClass1, 'font-weight' : statusClass2, 'text-shadow' : statusClass3}">
        {{loadedLyric.performer}} 
        <!-- <span>
          <mat-icon color= "accent" class="star" >star</mat-icon>
       </span> -->
      </p>
      <p #ps id="titled" class="perfTitle"
        [ngStyle]="{'color' :statusClass10, 'font-weight' : statusClass20, 'text-shadow' : statusClass30}">
        {{loadedLyric.songTitle}}
      </p>
    </div>

    <!-- LYRICS OR IMAGE Toggle-->
    <mat-card-content>  
      <p class = "lyrics" (click)="loadLyricsIf()" [innerHtml]="p1 | safeHtml" [hidden]="showImage" >
      </p>
      <img [src]=[loadedLyric.imageUrl]  [hidden]="!showImage"/>
      
   <!-- SPOTIFY ICON -->
      <div class="spotify-cont">
          <a *ngIf="link != '' " [href]="link" target="_blank">
            <img class= "spotify" src= "assets/Spotify_Icon.png"/>
          </a>
      </div>
      <div class="spotify-cont">
         <app-audio-player class="spotify" [src]="loadedLyric.previewLink" ></app-audio-player>
      </div>
    </mat-card-content>
  </mat-card>
</div>