h3{
  text-align: center;
}

.filters{
  margin-left: 0px;
}

.lyrics-container{
  width: 100%;
  height: 100%;
  /* outline: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lyric-card-top {
  font-size: 1.25em;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.perfTitle{
  text-shadow: 0 0 18px #000;
  color: black;
}

.classic{
  margin: 0 auto;
  text-align: center;
}

.star{
  width: 10%;
  height: 30px;
  font-size: 36px;
  margin: auto;
  display: block;
  white-space: pre-wrap;
}


.p{
  /* font-weight: bold; */
  color:rgb(250, 248, 248);
  color: transparent;
  text-shadow: 0;
  margin: 0 auto;
  /* margin-bottom: 5%; */
  text-align: center;
}

.lyrics{
  color:rgb(39, 7, 81);
  font-size: 1.35em;
  font-weight: bolder;
  width: 88%;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.spotify-cont{
  text-align: center;
}

.spotify{
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
}




