<h3>Quotes Quiz 🎵</h3>
<!-- <div class="filters">
<tr>
  <td> Filter Performer
    <form class="autocomplete-form">
      <mat-form-field>
        <input matInput placeholder="Performer" #input class="input" type="text"
        (input)="changePerformer()" [disabled]="disablePerfomer"
          [formControl]="makeFilter"  [matAutocomplete]="auto"/>
          <mat-autocomplete placeholder = "Performer" class="auto" autoActiveFirstOption showPanel
            isOpen = "true" #auto="matAutocomplete" >
            <mat-option (onSelectionChange)="onSelection(perf)"
              *ngFor="let perf of performers | async" [value]="perf.name">
              <span>{{ perf.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
  </td>
  <td col="3"> Filter Content
    <mat-form-field>
      <mat-label>Language</mat-label>
      <input hint="Enter a language" matInput  style="font-size: 16;">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </td>
  <td col="3"> Filter Content
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input hint="Enter a country" matInput  style="font-size: 16;">
    </mat-form-field>
  </td>
  <td col="3">  Filter Content
    <mat-form-field>
      <mat-label>Year</mat-label>
      <input hint="Enter a year" matInput  style="font-size: 16;">
    </mat-form-field>
  </td>
</tr>
</div> -->

<div mat-dialog-content class="lyrics-container"   
    [ngStyle]="{'background-color' :random_color}">
    
  <mat-card >
    <div class="lyric-card">
      <p>{{performerName}}</p><br/>
      <p>{{songtitle}}</p>
    </div>
    <mat-card-content>
      <p class="lyrics">{{lyrics}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="refresh-container">
  <mat-icon class ="refresh" (click) = "reloadCurrentPage()" aria-hidden="false" 
    aria-label="refresh-icon" fontIcon="refresh">
  </mat-icon>
</div>