h3{
  text-align: center;
}

.filters{
  margin-left: 0px;
}

.lyrics-container{
  width: 85%;
  height: 90%;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lyric-card {
  color:brown;
  color: transparent;
  text-shadow: 0 0 12px #000;
  margin: 0 auto;
  margin-bottom: 5%;
  text-align: center;
}

.p:active {
  color:brown;
  color: transparent;
  text-shadow: 0;
  margin: 0 auto;
  margin-bottom: 5%;
  text-align: center;
}

.lyrics{
  color:rgb(39, 7, 81);
  font-weight: bolder;
  width: 88%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

.refresh-container{
  margin-top: 50px;
  text-align: center;
}

.refresh-icon{
  color:red;
}

