h3{
  text-align: center;
  color: black;
}

.lyricsDialog {
  width: 85%;
  max-width: 400px;
}

.lyric-card {
  justify-content: center;
}

.dialogTitle {
  color: black
}

.mat-dialog-content{
  white-space: pre-wrap;
  /* color: rgb(5, 7, 113); */
}

.dialog-lyrics{
  white-space: pre-wrap;
  color: rgb(5, 7, 113);
  text-align: left;
  font-size: larger;
  margin: 0 auto;
}

.song-title{
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  font-size: large;
}
