<div mat-dialog-content class="lyricsDialog">
    <h3>Thank you for submitting a quote from</h3>
    <h3>{{performerName}}</h3>
    <!-- <mat-label [(ngModel)] = "songTitle">inputted lyrics</mat-label> -->
    <!-- <textarea class = "lyricsInput" matInput type="text" placeholder="Ex. It makes me feel..." floatlabel= "false"
    [(ngModel)]="dialogLyrics" name = "lyricshere"></textarea> -->
    <mat-card class="lyric-card">
      <mat-card-header>
        <mat-card-title class = "song-title">{{songTitle}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="dialog-lyrics">{{dialogLyrics}}</p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="dialogLyrics" cdkFocusInitial>Ok</button>
</div>

