.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 40%; */
  height: 100%;
}

img{
    width: 70%;
    height: auto;
}

.loader{
  text-align: center;
  padding-top: 20px;
}



  
  

