<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/LyricsFront/Random">Random Quotes 🎵</a>
      <a mat-list-item href="/LyricsFront/Add">Add a Quote 👍</a>
      <a mat-list-item href="/LyricsFront/Favorites">My 💖 Artists</a>
      <a mat-list-item href="/LyricsFront/Settings">Settings 🪛</a>
      <a mat-list-item href="/LyricsFront/Playlist">Spotify Playlist songs</a>
      <ng-container *ngIf="authService.user$ | async as user; else signedOutMenu">
        <span mat-list-item>{{ user.email }}</span>
        <button mat-list-item type="button" (click)="logout()">Log out</button>
      </ng-container>
      <ng-template #signedOutMenu>
        <a mat-list-item routerLink="/Auth">Log in / Register</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    <mat-toolbar >    
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="title">
        <span class="title1">{{title}}</span>
        <span class="auth-controls" *ngIf="authService.user$ | async as user; else signedOutToolbar">
          <span class="user-email">{{ user.email }}</span>
          <button mat-button type="button" (click)="logout()">Log out</button>
        </span>
        <ng-template #signedOutToolbar>
          <a mat-button routerLink="/Auth">Log in / Register</a>
        </ng-template>
        <span *ngIf="logoutError" class="logout-error" role="alert">{{ logoutError }}</span>
      </div>
    </mat-toolbar>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

