<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/LyricsFront/Random">Random Quotes 🎵</a>
      <a mat-list-item href="/LyricsFront/Add">Add a Quote 👍</a>
      <a mat-list-item href="/LyricsFront/Favorites">My 💖Quotes and Performers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <div class="title">
      <span class="title1">LyricsFront</span>
      <div class="logons">
        <span
        *ngIf="(auth.isAuthenticated$ | async) === false">
          <button mat-raised-button color="basic"
            class="btnLogin"
            id="qsLoginBtn"
            (click)="loginWithPopup()">
            Log in
          </button>
        </span>
        <span
        *ngIf="(auth.isAuthenticated$ | async) === true">
          <button mat-raised-button color="warn"
            class="btnLogout"
            id="qsLoginBtn"
            (click)="logout()">
            Log out
          </button>
        </span>
      </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
