
.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: primary;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.title1{
  font-variant-ligatures: left;
  justify-content: center;
}

.logons{
  visibility: hidden;
  margin-left: 100px;
  float: right;
}

.LanguagPick{
  font-size: small;
  max-width: 60px;
  float: right;
  left: 20px;
}
