<h3 class ="title">Your playlist: {{ titlePlaylist }}</h3>

<div class="lyrics-container">

    <mat-card [ngStyle]= "{'background-color' :random_color}" class = "mat-width">
      <div class="lyric-card-top" >
        <!-- ARTIST and TITLE -->
        <p #ps id="perf" class="perfTitle" 
          [ngStyle]="{'color' :statusClass1, 'font-weight' : statusClass2, 'text-shadow' : statusClass3}">
          {{ artist || 'Unknown Artist' }} 
        </p>
        <p #ps id="titled" class="perfTitle"
          [ngStyle]="{'color' :statusClass10, 'font-weight' : statusClass20, 'text-shadow' : statusClass30}">
          {{ title || 'Unknown Title' }}
        </p>
      </div>
  
      <!-- LYRICS OR IMAGE Toggle-->
      <mat-card-content class="lyricImage">  
        <p class = "lyrics" (click)="loadLyricsIf()" [innerHtml]="p1 | safeHtml"></p>
        <!-- [hidden]="showImage" -->
        <img [src]=[loadedLyric.imageUrl]  />
        <!-- [hidden]="!showImage" -->
        
      </mat-card-content>
    
      <!-- PREVIEW -->
        <!-- <div class="spotify-cont">
          <app-audio-player id="preview" class="spotify" [src]="loadedLyric.previewLink" #audioPlayer></app-audio-player>
        </div> -->
  
      <!-- SPOTIFY ICON -->
        <!-- <div class="spotify-cont">
            <a *ngIf="loadedLyric.spotLink != '' " [href]="loadedLyric.spotLink" target="_blank">
              <img class= "spotify" src= "assets/Spotify_Icon.png"/>
            </a>
        </div> -->

        <!-- <div class="nextButton">
          <button mat-raised-button color= "accent"
            (click)= "moreChunks()">Show more</button>
        </div> -->
    </mat-card>
  </div>
